Repository apache/orc, pull requests merged in 2021-10, with the labels that each got.

#923 ORC-1015: Update `OrcFile.WriterOptions::memory` javadoc
  java/core/src/java/org/apache/orc/OrcFile.java
Labels: JAVA

#929 ORC-1016: Use `openssl@1.1` in GitHub Action MacOS CIs
  .github/workflows/build_and_test.yml
Labels: INFRA

#925 ORC-1017: Add sizes tool to determine and display the sizes of each column in a set of files.
  java/core/src/java/org/apache/orc/TypeDescription.java
  java/core/src/test/org/apache/orc/TestTypeDescription.java
  java/tools/pom.xml
  java/tools/src/findbugs/exclude.xml
  java/tools/src/java/org/apache/orc/tools/ColumnSizes.java
  java/tools/src/java/org/apache/orc/tools/Driver.java
Labels: BUILD, JAVA

#921 ORC-1012: Support specifying columns in orc-scan
  tools/src/FileScan.cc
  tools/test/TestFileScan.cc
Labels: CPP

#930 ORC-1019: Remove redundant jackson dependencies
  java/bench/pom.xml
Labels: BUILD, JAVA
