Repository apache/orc, pull requests merged in 2021-08, with the labels that each got.

#791 ORC-889: Remove orc-mapreduce build warnings due to overlapping resources
  java/pom.xml
Labels: BUILD, JAVA

#792 ORC-890: Pin minimum support Hadoop version to 2.2.0
  .github/dependabot.yml
Labels: INFRA

#793 ORC-891: Use assert methods without package name
  java/core/src/test/org/apache/orc/TestInMemoryKeystore.java
  java/core/src/test/org/apache/orc/TestOrcNullOptimization.java
  java/core/src/test/org/apache/orc/TestOrcTimestampPPD.java
  java/core/src/test/org/apache/orc/TestOrcTimezone1.java
  java/core/src/test/org/apache/orc/TestOrcTimezonePPD.java
  java/core/src/test/org/apache/orc/TestRowFilteringComplexTypes.java
  java/core/src/test/org/apache/orc/TestRowFilteringIOSkip.java
  java/core/src/test/org/apache/orc/TestRowFilteringNoSkip.java
  java/core/src/test/org/apache/orc/TestRowFilteringSkip.java
  java/core/src/test/org/apache/orc/TestStringDictionary.java
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
  java/core/src/test/org/apache/orc/impl/TestPredicatePushDownBounds.java
  java/core/src/test/org/apache/orc/impl/TestStringHashTableDictionary.java
  java/core/src/test/org/apache/orc/util/TestOrcUtils.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcFileEvolution.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcStruct.java
  java/tools/src/test/org/apache/orc/tools/TestFileDump.java
Labels: JAVA

#798 ORC-892: Pin scala-library to 2.12.10
  .github/dependabot.yml
Labels: INFRA

#801 ORC-893: Remove junit-vintage-engine from shims module
  java/shims/pom.xml
  java/shims/src/test/org/apache/orc/impl/TestHadoopShimsPre2_7.java
Labels: BUILD, JAVA

#802 ORC-895: Use snappy-java 1.1.8.4 in bench/core to support Apple Silicon
  java/bench/core/pom.xml
  java/bench/pom.xml
Labels: BUILD, JAVA

#803 ORC-897: Optimization loop termination condition
  java/core/src/java/org/apache/orc/OrcFile.java
Labels: JAVA

#805 ORC-899: Archive Apache ORC 1.4.x in `releases` page
  site/_data/releases.yml
Labels: DOCS

#806 ORC-900: Update doap_orc.rdf for Apache Projects page
  site/doap_orc.rdf
Labels: DOCS

#808 ORC-902: Fix hadoop-common dependency scope in orc-example
  java/examples/pom.xml
Labels: BUILD, JAVA

#807 ORC-901: Remove junit-vintage-engine from `mapreduce/tools` module
  java/mapreduce/pom.xml
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcFileEvolution.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcList.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcMap.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcOutputFormat.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcStruct.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcTimestamp.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcUnion.java
  java/mapreduce/src/test/org/apache/orc/mapreduce/TestMapreduceOrcOutputFormat.java
  java/pom.xml
  java/tools/pom.xml
  java/tools/src/test/org/apache/orc/impl/TestHadoopKeyProvider.java
  java/tools/src/test/org/apache/orc/impl/TestRLEv2.java
  java/tools/src/test/org/apache/orc/tools/TestFileDump.java
  java/tools/src/test/org/apache/orc/tools/TestJsonFileDump.java
  java/tools/src/test/org/apache/orc/tools/convert/TestCsvReader.java
  java/tools/src/test/org/apache/orc/tools/convert/TestJsonReader.java
  java/tools/src/test/org/apache/orc/tools/json/TestJsonSchemaFinder.java
Labels: BUILD, JAVA

#811 MINOR: Remove org.apache.commons.lang usage
  java/core/src/java/org/apache/orc/impl/ConvertTreeReaderFactory.java
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
Labels: JAVA

#773 ORC-867: Upgrade hive-storage-api to 2.8.1
  java/core/src/test/org/apache/orc/impl/TestRecordReaderImpl.java
  java/pom.xml
Labels: BUILD, JAVA

#809 ORC-903: Migrate TestVectorOrcFile to JUnit5
  java/core/pom.xml
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
Labels: BUILD, JAVA

#735 ORC-830: Do Not Copy String When Adding to StringHashTableDictionary
  java/core/src/java/org/apache/orc/impl/DictionaryUtils.java
  java/core/src/java/org/apache/orc/impl/StringHashTableDictionary.java
Labels: JAVA

#814 ORC-908: Use https instead of http for website links in 'pom.xml'
  java/pom.xml
Labels: BUILD, JAVA

#815 ORC-909: Remove commons-io v2.1 dependency
  java/core/src/java/org/apache/orc/impl/IOUtils.java
  java/core/src/java/org/apache/orc/impl/RunLengthByteReader.java
  java/core/src/java/org/apache/orc/impl/SerializationUtils.java
Labels: JAVA

#816 ORC-910: Enforce maven-dependency-plugin
  java/bench/pom.xml
  java/core/pom.xml
  java/examples/pom.xml
  java/pom.xml
  java/tools/pom.xml
Labels: BUILD, JAVA

#817 ORC-911: Remove janino dependency in favor of Spark's transitive dependency
  java/bench/pom.xml
  java/bench/spark/pom.xml
Labels: BUILD, JAVA

#818 ORC-912: Exclude Spark transitive avro/parquet dependency from Spark benchmark
  java/bench/pom.xml
  java/bench/spark/pom.xml
Labels: BUILD, JAVA

#822 ORC-915: Remove `io.netty:netty` from Spark benchmark
  java/bench/pom.xml
  java/bench/spark/pom.xml
Labels: BUILD, JAVA

#825 ORC-913: Support data/format/compress options in Spark benchmark
  java/bench/core/src/java/org/apache/orc/bench/core/convert/GenerateVariants.java
  java/bench/spark/src/java/org/apache/orc/bench/spark/SparkBenchmark.java
Labels: JAVA

#823 ORC-886,ORC-905: Add integration tests for Java tools/examples
  java/CMakeLists.txt
Labels: JAVA

#821 ORC-914: Pin `maven-dependency-plugin` to 3.1.2
  .github/dependabot.yml
Labels: INFRA

#829 ORC-918: Pin protobuf-java to 2.5.0
  .github/dependabot.yml
Labels: INFRA

#830 ORC-919: Spark bench objenesis should be the same as Spark
  java/bench/spark/pom.xml
Labels: BUILD, JAVA

#832 ORC-920: Use junit.version and mockito.version property and bump junit to 5.7.2
  java/pom.xml
Labels: BUILD, JAVA

#833 ORC-921: Add an encrypted example file
  examples/encrypted/kms.keystore
  examples/encrypted/sample1.orc
  examples/encrypted/sample2.orc
Labels: EXAMPLES

#835 ORC-922: Remove redundant conditional statements
  java/core/src/java/org/apache/orc/impl/ColumnStatisticsImpl.java
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerWriterV2.java
  java/core/src/java/org/apache/orc/impl/writer/TreeWriterBase.java
Labels: JAVA

#836 ORC-923: Bump apache from 23 to 24
  java/pom.xml
Labels: BUILD, JAVA

#837 ORC-924: Add redundant modifier/modifier order checkstyle rules
  java/bench/core/src/java/org/apache/hadoop/fs/TrackingLocalFileSystem.java
  java/bench/core/src/java/org/apache/orc/bench/core/RandomGenerator.java
  java/bench/core/src/java/org/apache/orc/bench/core/SalesGenerator.java
  java/bench/core/src/java/org/apache/orc/bench/core/convert/json/JsonReader.java
  java/core/src/java/org/apache/orc/InMemoryKeystore.java
  java/core/src/java/org/apache/orc/impl/DirectDecompressionCodec.java
  java/core/src/java/org/apache/orc/impl/InStream.java
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
  java/core/src/java/org/apache/orc/impl/RecordReaderUtils.java
  java/core/src/java/org/apache/orc/impl/RedBlackTree.java
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerReaderV2.java
  java/core/src/java/org/apache/orc/impl/SerializationUtils.java
  java/mapreduce/src/java/org/apache/orc/mapred/OrcInputFormat.java
  java/pom.xml
  java/shims/src/java/org/apache/orc/impl/ZeroCopyShims.java
  java/tools/src/java/org/apache/orc/tools/convert/JsonReader.java
  java/tools/src/java/org/apache/orc/tools/json/ListType.java
  java/tools/src/java/org/apache/orc/tools/json/StructType.java
Labels: BUILD, JAVA

#838 ORC-925: Simplify Assertions
  java/core/src/findbugs/exclude.xml
  java/core/src/test/org/apache/orc/TestColumnStatistics.java
  java/core/src/test/org/apache/orc/TestNewIntegerEncoding.java
  java/core/src/test/org/apache/orc/TestOrcNullOptimization.java
  java/core/src/test/org/apache/orc/TestOrcTimezone1.java
  java/core/src/test/org/apache/orc/TestProlepticConversions.java
  java/core/src/test/org/apache/orc/TestRowFilteringSkip.java
  java/core/src/test/org/apache/orc/TestStringDictionary.java
  java/core/src/test/org/apache/orc/TestTypeDescription.java
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
  java/core/src/test/org/apache/orc/impl/TestColumnStatisticsImpl.java
  java/core/src/test/org/apache/orc/impl/TestCryptoUtils.java
  java/core/src/test/org/apache/orc/impl/TestOutStream.java
  java/core/src/test/org/apache/orc/impl/TestRecordReaderImpl.java
  java/core/src/test/org/apache/orc/impl/TestSchemaEvolution.java
  java/core/src/test/org/apache/orc/impl/TestSerializationUtils.java
  java/core/src/test/org/apache/orc/impl/TestStreamName.java
  java/core/src/test/org/apache/orc/impl/TestZlib.java
  java/core/src/test/org/apache/orc/impl/TestZstd.java
  java/core/src/test/org/apache/orc/impl/mask/TestDataMask.java
  java/core/src/test/org/apache/orc/util/TestBloomFilter.java
  java/core/src/test/org/apache/orc/util/TestOrcUtils.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcOutputFormat.java
  java/mapreduce/src/test/org/apache/orc/mapreduce/TestMapreduceOrcOutputFormat.java
  java/tools/src/test/org/apache/orc/impl/TestHadoopKeyProvider.java
  java/tools/src/test/org/apache/orc/impl/TestRLEv2.java
  java/tools/src/test/org/apache/orc/tools/TestFileDump.java
  java/tools/src/test/org/apache/orc/tools/convert/TestCsvReader.java
  java/tools/src/test/org/apache/orc/tools/convert/TestJsonReader.java
Labels: JAVA

#841 ORC-927: Extracting duplicate codes for RowFilterBenchmark
  java/bench/hive/src/findbugs/exclude.xml
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/BooleanRowFilterBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/DecimalRowFilterBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/DoubleRowFilterBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/RowFilterInputState.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/StringRowFilterBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/TimestampRowFilterBenchmark.java
Labels: JAVA

#843 ORC-929: Fix NaN error at orc-tools meta command
  java/tools/src/java/org/apache/orc/tools/FileDump.java
Labels: JAVA

#845 ORC-931: Modify RunLengthIntegerWriterV2 code to improve readability
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerWriterV2.java
Labels: JAVA

#844 ORC-930: Ignore unsupported JSON x ZSTD combination in bench
  java/bench/core/src/java/org/apache/orc/bench/core/convert/GenerateVariants.java
  java/bench/core/src/java/org/apache/orc/bench/core/convert/ScanVariants.java
Labels: JAVA

#847 ORC-933: Add `AdvancedReader.java` example
  java/examples/src/java/org/apache/orc/examples/AdvancedReader.java
  java/examples/src/java/org/apache/orc/examples/Driver.java
Labels: BUILD, JAVA

#848 ORC-934: Add integration tests for Java bench
  java/CMakeLists.txt
Labels: JAVA

#851 ORC-939: Remove threetenbp dependency
  java/pom.xml
Labels: BUILD, JAVA

#853 ORC-941: Move `MacOS 10.15/11.5` test from Travis to GitHub Action
  .github/workflows/build_and_test.yml
  .travis.yml
Labels: INFRA

#855 MINOR: Add `.java-version` to `.gitignore`
  .gitignore
Labels: INFRA

#854 ORC-942: Remove javax.xml.bind:jaxb-api dependency
  java/core/pom.xml
  java/core/src/java/org/apache/orc/impl/mask/SHA256MaskFactory.java
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
  java/core/src/test/org/apache/orc/impl/mask/TestSHA256Mask.java
  java/pom.xml
Labels: BUILD, JAVA

#858 ORC-945: Add OUTPUT_QUIET, ERROR_QUIET to suppress Java8 add-open error messages
  java/CMakeLists.txt
Labels: JAVA

#857 ORC-944: Add RedundantImport checkstyle rule
  java/pom.xml
Labels: BUILD, JAVA

#859 ORC-947: Update coding guide to max line length 100 and enforce it
  java/bench/hive/src/java/org/apache/orc/bench/hive/RowFilterProjectionBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/RowFilterInputState.java
  java/bench/spark/src/java/org/apache/orc/bench/spark/SparkBenchmark.java
  java/core/src/java/org/apache/orc/OrcConf.java
  java/core/src/java/org/apache/orc/Reader.java
  java/core/src/java/org/apache/orc/impl/BitFieldReader.java
  java/core/src/java/org/apache/orc/impl/BufferChunk.java
  java/core/src/java/org/apache/orc/impl/ConvertTreeReaderFactory.java
  java/core/src/java/org/apache/orc/impl/DataReaderProperties.java
  java/core/src/java/org/apache/orc/impl/DateUtils.java
  java/core/src/java/org/apache/orc/impl/InStream.java
  java/core/src/java/org/apache/orc/impl/ReaderImpl.java
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
  java/core/src/java/org/apache/orc/impl/TreeReaderFactory.java
  java/core/src/java/org/apache/orc/impl/WriterImpl.java
  java/core/src/java/org/apache/orc/impl/filter/leaf/LeafFilterFactory.java
  java/core/src/java/org/apache/orc/impl/reader/StripePlanner.java
  java/core/src/java/org/apache/orc/impl/reader/tree/BatchReader.java
  java/core/src/java/org/apache/orc/impl/reader/tree/PrimitiveBatchReader.java
  java/core/src/java/org/apache/orc/impl/reader/tree/StructBatchReader.java
  java/core/src/java/org/apache/orc/impl/writer/TreeWriterBase.java
  java/core/src/java/org/apache/orc/util/BloomFilter.java
  java/core/src/java/org/threeten/extra/chrono/HybridChronology.java
  java/pom.xml
  java/tools/src/java/org/apache/orc/tools/RowCount.java
  java/tools/src/java/org/apache/orc/tools/convert/ConvertTool.java
  site/develop/coding.md
Labels: BUILD, JAVA, DOCS

#860 ORC-948: Add hive benchmark integration tests
  java/CMakeLists.txt
Labels: JAVA

#861 MINOR: Add more exclusion patterns at Spark bench uber jar building
  java/bench/spark/pom.xml
Labels: BUILD, JAVA

#863 ORC-950: Bump aircompressor to 0.20
  java/pom.xml
Labels: BUILD, JAVA

#867 ORC-954: Fix Javadoc generation failure
  java/core/src/java/org/apache/orc/impl/DictionaryUtils.java
  java/core/src/java/org/apache/orc/util/CuckooSetBytes.java
Labels: JAVA, DOCS

#868 ORC-955: Add Javadoc generation GitHub Action job
  .github/workflows/build_and_test.yml
Labels: INFRA

#866 ORC-953: Add `since` tag to `org.apache.orc.Writer` interface
  java/core/src/java/org/apache/orc/Writer.java
Labels: JAVA

#865 ORC-952: Add `since` tag to `org.apache.orc.RecordReader` interface
  java/core/src/java/org/apache/orc/RecordReader.java
Labels: JAVA

#869 ORC-946: Unified json library
  java/bench/core/pom.xml
  java/bench/core/src/java/org/apache/orc/bench/core/convert/json/JsonWriter.java
  java/pom.xml
  java/tools/pom.xml
  java/tools/src/java/org/apache/orc/tools/JsonFileDump.java
  java/tools/src/java/org/apache/orc/tools/KeyTool.java
  java/tools/src/java/org/apache/orc/tools/PrintData.java
  java/tools/src/test/org/apache/orc/tools/TestFileDump.java
  java/tools/src/test/resources/orc-file-dump.json
Labels: BUILD, JAVA

#864 ORC-951: Add `since` tag to `org.apache.orc.Reader` interface
  java/core/src/java/org/apache/orc/Reader.java
Labels: JAVA

#743 ORC-834: Do Not Convert to String in DecimalFromTimestampTreeReader
  java/core/src/java/org/apache/orc/impl/ConvertTreeReaderFactory.java
Labels: JAVA

#742 ORC-837: Reuse HiveDecimalWritable in ConvertTreeReaderFactory
  java/core/src/java/org/apache/orc/impl/ConvertTreeReaderFactory.java
Labels: JAVA

#739 ORC-838: Simplify `compareTo/equals/putBuffer` of ByteBufferAllocatorPool
  java/core/src/java/org/apache/orc/impl/RecordReaderUtils.java
Labels: JAVA

#874 ORC-871: Provide better error information when parsing json files with exceptions
  java/tools/src/java/org/apache/orc/tools/convert/ConvertTool.java
  java/tools/src/java/org/apache/orc/tools/json/JsonSchemaFinder.java
Labels: JAVA

#875 ORC-726: Support Map type in `orc-tools convert`
  java/tools/src/java/org/apache/orc/tools/json/HiveType.java
  java/tools/src/java/org/apache/orc/tools/json/JsonSchemaFinder.java
  java/tools/src/java/org/apache/orc/tools/json/MapType.java
  java/tools/src/test/org/apache/orc/tools/json/TestJsonSchemaFinder.java
Labels: JAVA

#876 ORC-958: Convert command support overwrite option
  java/tools/src/java/org/apache/orc/tools/convert/ConvertTool.java
Labels: JAVA

#877 ORC-959: [C++] Fix crash of SargsApplier in finding nested field names
  c++/src/sargs/SargsApplier.cc
  c++/src/sargs/SargsApplier.hh
  c++/test/TestSargsApplier.cc
Labels: CPP

#878 ORC-963: Build benchmark module always for integration testing
  java/CMakeLists.txt
Labels: JAVA

#879 ORC-960: [C++] Support creating SearchArguments using column ids
  c++/include/orc/sargs/SearchArgument.hh
  c++/src/sargs/PredicateLeaf.cc
  c++/src/sargs/PredicateLeaf.hh
  c++/src/sargs/SargsApplier.cc
  c++/src/sargs/SearchArgument.cc
  c++/src/sargs/SearchArgument.hh
  c++/test/TestPredicatePushdown.cc
Labels: CPP

#882 ORC-970: Reordering statements, improve readability
  java/core/src/java/org/apache/orc/impl/WriterImpl.java
Labels: JAVA

#754 ORC-852: Allow DynamicByteArray to return a ByteBuffer
  java/core/src/java/org/apache/orc/impl/Dictionary.java
  java/core/src/java/org/apache/orc/impl/DictionaryUtils.java
  java/core/src/java/org/apache/orc/impl/DynamicByteArray.java
  java/core/src/java/org/apache/orc/impl/StringHashTableDictionary.java
  java/core/src/java/org/apache/orc/impl/StringRedBlackTree.java
Labels: JAVA

#884 ORC-973: [C++] Support providing IN-predicate literals using vector
  c++/include/orc/sargs/SearchArgument.hh
  c++/src/sargs/PredicateLeaf.cc
  c++/src/sargs/PredicateLeaf.hh
  c++/src/sargs/SearchArgument.cc
  c++/src/sargs/SearchArgument.hh
  c++/test/TestPredicateLeaf.cc
Labels: CPP

#887 ORC-976: Optimize compute zigzagliterals
  c++/src/RleEncoderV2.cc
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerWriterV2.java
Labels: JAVA, CPP

#886 ORC-975: Avoid double counting closestFixedBits
  java/core/src/java/org/apache/orc/impl/SerializationUtils.java
Labels: JAVA

#873 ORC-811 Benchmarks and documentation for ORC-742 and ORC-743
  java/bench/core/pom.xml
  java/bench/core/src/findbugs/exclude.xml
  java/bench/core/src/java/org/apache/orc/bench/core/filter/FilterBench.java
  java/bench/core/src/java/org/apache/orc/bench/core/filter/FilterBenchUtil.java
  java/bench/core/src/java/org/apache/orc/impl/filter/RowFilter.java
  java/bench/core/src/java/org/apache/orc/impl/filter/RowFilterFactory.java
  java/bench/core/src/test/org/apache/orc/bench/core/filter/TestFilter.java
  java/bench/core/src/test/org/apache/orc/impl/filter/ATestFilter.java
  java/bench/core/src/test/org/apache/orc/impl/filter/TestRowFilter.java
  java/bench/hive/src/assembly/uber.xml
  java/bench/pom.xml
  site/develop/design/lazy_filter.md
Labels: BUILD, JAVA, DOCS

#888 ORC-977: Update webpages and TestVectorOrcFile.java to be more neutral
  c++/Doxyfile
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
  site/_docs/building.md
  site/_posts/2017-05-16-new-committer.md
  site/_posts/2019-01-10-add-dongjoon.md
  site/_posts/2020-11-16-add-panagiotis.md
  site/_posts/2021-02-08-panagiotis-pmc.md
  site/_posts/2021-04-13-add-william.md
Labels: JAVA, DOCS, CPP

#889 ORC-727: Update `Java Tools` documentation
  site/_docs/java-tools.md
Labels: DOCS

#890 ORC-965: Fix ZSTD 'Overflow detected' failure
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
  java/pom.xml
Labels: BUILD, JAVA
