Repository apache/orc, pull requests merged in 2021-11, with the labels that each got.

#953 ORC-1040: Add Debian 11 docker test
  docker/debian11/Dockerfile
  docker/os-list.txt
Labels: INFRA

#956 ORC-1042: Ignore unused-function C++ compile warning on CentOS 7
  CMakeLists.txt
Labels: BUILD

#957 ORC-1043: Fix C++ compilation error in CentOS 7
  c++/test/TestMurmur3.cc
Labels: CPP

#944 ORC-1020: [C++] Optimize RleDecoderV2::nextDirect base on bit sizes
  c++/src/RLEv2.hh
  c++/src/RleDecoderV2.cc
  c++/test/TestRleDecoder.cc
Labels: CPP

#958 ORC-1041: Use `memcpy` during LZO decompression
  c++/src/LzoDecompressor.cc
Labels: CPP

#961 ORC-492: Avoid potential `ArrayIndexOutOfBoundsException` when getting WriterVersion
  java/core/src/java/org/apache/orc/OrcFile.java
Labels: JAVA

#959 ORC-1047: Handle quoted field names during string schema parsing
  c++/src/TypeImpl.cc
  c++/src/TypeImpl.hh
  c++/test/TestType.cc
  c++/test/TestWriter.cc
Labels: CPP

#962 MINOR: Add Spark link to Quickstart section
  site/index.html
Labels: DOCS

#964 ORC-1051: Update benchmark dependencies
  java/bench/pom.xml
  java/bench/spark/pom.xml
Labels: BUILD, JAVA

#963 ORC-1050: Update ORC site README.md and release process page
  site/README.md
  site/develop/make-release.md
Labels: DOCS

#966 MINOR: Add Yiqun Zhang and Huya Company to committers.md
  site/develop/committers.md
Labels: DOCS
