Repository apache/orc, pull requests merged in 2021-09, with the labels that each got.

#891 ORC-978: Fix NPE in TestFlinkOrcReaderWriter
  java/core/src/java/org/apache/orc/impl/WriterImpl.java
  java/core/src/test/org/apache/orc/impl/TestWriterImpl.java
Labels: JAVA

#892 MINOR: Fix typos in project
  java/bench/core/src/java/org/apache/orc/bench/core/CompressionKind.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/DecimalBench.java
  java/core/src/java/org/apache/orc/DataMask.java
  java/core/src/java/org/apache/orc/OrcFile.java
  java/core/src/java/org/apache/orc/PhysicalWriter.java
  java/core/src/java/org/apache/orc/Reader.java
  java/core/src/java/org/apache/orc/RecordReader.java
  java/core/src/java/org/apache/orc/impl/ConvertTreeReaderFactory.java
  java/core/src/java/org/apache/orc/impl/RecordReaderUtils.java
  java/core/src/java/org/apache/orc/impl/RedBlackTree.java
  java/core/src/java/org/apache/orc/impl/SchemaEvolution.java
  java/core/src/java/org/apache/orc/impl/mask/RedactMaskFactory.java
  java/core/src/java/org/apache/orc/impl/writer/TreeWriter.java
  java/core/src/test/org/apache/orc/TestRowFilteringNoSkip.java
  java/core/src/test/org/apache/orc/TestRowFilteringSkip.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcOutputFormat.java
  java/tools/src/java/org/apache/orc/tools/json/HiveType.java
  java/tools/src/test/org/apache/orc/impl/FakeKeyProvider.java
Labels: JAVA

#894 ORC-981: Add `CommentsIndentation` checkstyle rule
  java/core/src/java/org/apache/orc/InMemoryKeystore.java
  java/core/src/java/org/apache/orc/OrcFile.java
  java/core/src/java/org/apache/orc/impl/ConvertTreeReaderFactory.java
  java/core/src/java/org/apache/orc/impl/InStream.java
  java/core/src/java/org/apache/orc/impl/IntegerReader.java
  java/core/src/java/org/apache/orc/impl/writer/CharTreeWriter.java
  java/pom.xml
Labels: BUILD, JAVA

#895 ORC-982: Extract checkstyle to a single file, help newcomers check code style
  java/checkstyle.xml
  java/pom.xml
  site/develop/coding.md
Labels: BUILD, JAVA, DOCS

#893 ORC-980: Filter processing respects the case-sensitivity flag
  java/bench/core/src/java/org/apache/orc/bench/core/filter/FilterBench.java
  java/bench/core/src/java/org/apache/orc/impl/filter/RowFilterFactory.java
  java/bench/core/src/test/org/apache/orc/bench/core/filter/TestFilter.java
  java/bench/core/src/test/org/apache/orc/impl/filter/ATestFilter.java
  java/bench/core/src/test/org/apache/orc/impl/filter/TestRowFilter.java
  java/core/src/java/org/apache/orc/impl/OrcFilterContextImpl.java
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
  java/core/src/java/org/apache/orc/impl/SchemaEvolution.java
  java/core/src/java/org/apache/orc/impl/filter/FilterFactory.java
  java/core/src/java/org/apache/orc/impl/filter/leaf/LeafFilterFactory.java
  java/core/src/java/org/apache/orc/impl/reader/tree/StructBatchReader.java
  java/core/src/test/org/apache/orc/TestOrcFilterContext.java
  java/core/src/test/org/apache/orc/TestRowFilteringIOSkip.java
  java/core/src/test/org/apache/orc/impl/TestOrcFilterContextImpl.java
  java/core/src/test/org/apache/orc/impl/filter/ATestFilter.java
  java/core/src/test/org/apache/orc/impl/filter/TestAndFilter.java
  java/core/src/test/org/apache/orc/impl/filter/TestConvFilter.java
  java/core/src/test/org/apache/orc/impl/filter/TestOrFilter.java
  java/core/src/test/org/apache/orc/impl/filter/leaf/TestFilters.java
Labels: JAVA

#896 ORC-983: Revise filter processing log level/location/message
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
Labels: JAVA

#897 ORC-715: Add MapReduce test case
  java/mapreduce/pom.xml
  java/mapreduce/src/test/org/apache/orc/mapreduce/TestMrUnit.java
Labels: BUILD, JAVA

#902 ORC-985: Change default back to rbtree
  java/core/src/java/org/apache/orc/OrcConf.java
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
Labels: JAVA

#903 ORC-990: [C++] fix RowReaderImpl::seekToRowGroup
  c++/src/Reader.cc
Labels: CPP

#905 ORC-991: Fix the bug of encrypted column read crash
  java/core/src/java/org/apache/orc/impl/reader/StripePlanner.java
  java/core/src/java/org/apache/orc/impl/writer/Decimal64TreeWriter.java
  java/core/src/java/org/apache/orc/impl/writer/TreeWriterBase.java
  java/core/src/test/org/apache/orc/impl/TestEncryption.java
Labels: JAVA

#904 ORC-984: Save the software version that wrote each ORC file.
  c++/include/orc/Common.hh
  c++/include/orc/Reader.hh
  c++/src/Common.cc
  c++/src/Reader.cc
  c++/src/Reader.hh
  c++/src/Writer.cc
  examples/expected/orc_split_elim_cpp.jsn.gz
  examples/orc_split_elim_cpp.orc
  examples/orc_split_elim_new.orc
  java/core/src/findbugs/exclude.xml
  java/core/src/java/org/apache/orc/OrcUtils.java
  java/core/src/java/org/apache/orc/Reader.java
  java/core/src/java/org/apache/orc/impl/ReaderImpl.java
  java/core/src/java/org/apache/orc/impl/WriterImpl.java
  java/pom.xml
  java/tools/src/java/org/apache/orc/tools/FileDump.java
  java/tools/src/java/org/apache/orc/tools/JsonFileDump.java
  java/tools/src/test/org/apache/orc/tools/TestFileDump.java
  java/tools/src/test/org/apache/orc/tools/TestJsonFileDump.java
  java/tools/src/test/resources/orc-file-dump.json
  proto/orc_proto.proto
  tools/src/FileMetadata.cc
  tools/test/TestFileMetadata.cc
  tools/test/TestMatch.cc
Labels: BUILD, JAVA, CPP, EXAMPLES

#910 ORC-1001: Bump maven-enforcer-plugin to 3.0.0
  java/pom.xml
Labels: BUILD, JAVA

#912 ORC-1002: Add `java17` profile to support Java 17 unit testing
  java/core/pom.xml
  java/examples/pom.xml
  java/mapreduce/pom.xml
  java/pom.xml
  java/shims/pom.xml
  java/tools/pom.xml
Labels: BUILD, JAVA

#911 ORC-1000: Use Java 17 in GitHub Action
  .github/workflows/build_and_test.yml
  java/CMakeLists.txt
  java/shims/pom.xml
Labels: INFRA, BUILD, JAVA

#913 ORC-1005: Make that the java and C++ impl of determineEncoding in RLEV2 are consistent.
  c++/src/RLEv2.hh
  c++/src/RleEncoderV2.cc
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerWriterV2.java
Labels: JAVA, CPP

#916 ORC-1007: Fix a warning from the shade plugin
  java/bench/spark/pom.xml
  java/pom.xml
Labels: BUILD, JAVA

#918 ORC-1010: Bump tzdata from tzdata-2020e-1.tar.xz to tzdata-2021b-1.tar.xz
  cmake_modules/ThirdpartyToolchain.cmake
Labels: BUILD

#919 ORC-1009: [C++] Missing string include causes build failure with MSVC++
  c++/src/sargs/ExpressionTree.hh
Labels: CPP

#920 ORC-1011: Activate `java17` profile automatically
  java/CMakeLists.txt
  java/core/pom.xml
  java/mapreduce/pom.xml
  java/pom.xml
  java/shims/pom.xml
  java/tools/pom.xml
Labels: BUILD, JAVA

#917 ORC-1008: Fix overflow detection code for C++ int64_t / java long
  c++/src/Adaptor.hh.in
  c++/src/CMakeLists.txt
  c++/src/Statistics.cc
  c++/src/Statistics.hh
  c++/test/TestColumnStatistics.cc
  java/core/src/java/org/apache/orc/impl/ColumnStatisticsImpl.java
  java/core/src/test/org/apache/orc/TestColumnStatistics.java
Labels: JAVA, CPP
