Repository apache/orc, pull requests merged in 2021-07, with the labels that each got.

#729 ORC-824:[C++] Add column statistics for List and Map
  c++/include/orc/Statistics.hh
  c++/src/ColumnWriter.cc
  c++/src/Statistics.cc
  c++/src/Statistics.hh
  c++/test/TestColumnStatistics.cc
Labels: CPP

#734 ORC-829: Optimize Serialization percentileBits
  java/core/src/java/org/apache/orc/impl/SerializationUtils.java
Labels: JAVA

#738 ORC-833: Calculate nextVector Batch Size Once
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerReaderV2.java
Labels: JAVA

#736 ORC-831: Do Not Copy String When Flushing Dictionary
  java/core/src/java/org/apache/orc/impl/Dictionary.java
  java/core/src/java/org/apache/orc/impl/DictionaryUtils.java
  java/core/src/java/org/apache/orc/impl/StringHashTableDictionary.java
  java/core/src/java/org/apache/orc/impl/StringRedBlackTree.java
  java/core/src/java/org/apache/orc/impl/writer/StringBaseTreeWriter.java
Labels: JAVA

#749 ORC-845: Fix NPE in DynamicIntArray toString
  java/core/src/java/org/apache/orc/impl/DynamicIntArray.java
  java/core/src/test/org/apache/orc/impl/TestDynamicArray.java
Labels: JAVA

#740 ORC-836: StringGroupFromDoubleTreeReader Use Double toString
  java/core/src/java/org/apache/orc/impl/ConvertTreeReaderFactory.java
Labels: JAVA

#752 ORC-849: Core Benchmark Cleanup
  java/bench/core/src/java/org/apache/orc/bench/core/convert/GenerateVariants.java
Labels: JAVA

#747 ORC-844: Improve hashCode Methods
  java/core/src/java/org/apache/orc/TypeDescription.java
  java/core/src/java/org/apache/orc/impl/ColumnStatisticsImpl.java
  java/core/src/java/org/apache/orc/impl/MaskDescriptionImpl.java
  java/core/src/java/org/apache/orc/util/BloomFilter.java
  java/mapreduce/src/java/org/apache/orc/mapred/OrcStruct.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcStruct.java
Labels: JAVA

#744 ORC-840: Remove Superfluous Array Fill in RecordReaderImpl
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
Labels: JAVA

#753 ORC-851: Fix CNFE in ORC tools uber jar
  java/tools/pom.xml
Labels: BUILD, JAVA

#757 ORC-855: Remove Unused isRepeating from RunLengthIntegerReaderV2
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerReaderV2.java
Labels: JAVA

#758 ORC-856: Fix exception description in findSubtype
  java/core/src/java/org/apache/orc/impl/ParserUtils.java
Labels: JAVA

#760 ORC-858: Add NoLineWrap/OneStatementPerLine/NeedBraces checkstyle rules
  java/core/src/java/org/apache/orc/impl/DataReaderProperties.java
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerReaderV2.java
  java/core/src/java/org/apache/orc/impl/TreeReaderFactory.java
  java/pom.xml
  java/tools/src/java/org/apache/orc/tools/convert/JsonReader.java
Labels: BUILD, JAVA

#761 ORC-859: Update maven-checkstyle-plugin to 3.1.2 and checkstyle to 8.44
  java/pom.xml
Labels: BUILD, JAVA

#763 ORC-861: Bump CMake minimum requirement to 2.8.12
  CMakeLists.txt
Labels: BUILD

#764 ORC-862: Add libarchive to centos8 docker image.
  docker/centos8/Dockerfile
Labels: INFRA

#765 ORC-863: Upgrade TravisCI from xenial to focal
  .travis.yml
Labels: INFRA

#762 ORC-860: Add dependabot
  .github/dependabot.yml
Labels: INFRA

#772 ORC-866: Reduce LineLength from 125 to 120
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/TimestampRowFilterBenchmark.java
  java/core/src/java/org/apache/orc/impl/Dictionary.java
  java/core/src/java/org/apache/orc/impl/DictionaryUtils.java
  java/core/src/java/org/apache/orc/impl/ReaderImpl.java
  java/core/src/java/org/apache/orc/impl/RunLengthIntegerReaderV2.java
  java/core/src/java/org/apache/orc/impl/SerializationUtils.java
  java/core/src/java/org/threeten/extra/chrono/HybridDate.java
  java/pom.xml
  java/shims/src/java/org/apache/orc/impl/ZeroCopyShims.java
Labels: BUILD, JAVA

#774 ORC-868: Pin gson to 2.2.4
  .github/dependabot.yml
Labels: INFRA

#771 ORC-865: Bump opencsv from 3.9 to 5.5.1
  java/pom.xml
  java/tools/src/java/org/apache/orc/tools/convert/CsvReader.java
Labels: BUILD, JAVA

#777 ORC-869: Pin jmh 1.20
  .github/dependabot.yml
Labels: INFRA

#783 ORC-873: Fix FindCyrusSASL to use the package name CyrusSASL
  cmake_modules/FindCyrusSASL.cmake
Labels: BUILD

#741 ORC-835: Cache TRUE/FALSE Bytes in StringGroupFromBooleanTreeReader
  java/core/src/java/org/apache/orc/impl/ConvertTreeReaderFactory.java
Labels: JAVA

#789 ORC-885: Update bench README.md and allow user env shell
  java/bench/README.md
  java/bench/fetch-data.sh
Labels: DOCS, JAVA

#788 ORC-882: Remove hamcrest-core test dependency
  java/core/pom.xml
  java/pom.xml
Labels: BUILD, JAVA

#756 ORC-854: Optimize ReadFully for Full Reads
  java/core/src/java/org/apache/orc/impl/SerializationUtils.java
Labels: JAVA

#790 ORC-887: Remove ORC Twitter link from news page
  site/news/index.html
Labels: DOCS
