Repository apache/orc, pull requests merged in 2021-12, with the labels that each got.

#967 ORC-1053: Fix time zone offset precision when convert tool converts `LocalDateTime` to `Timestamp` is not consistent with the internal default precision of ORC
  java/tools/src/java/org/apache/orc/tools/convert/CsvReader.java
  java/tools/src/test/org/apache/orc/tools/convert/TestConvert.java
Labels: JAVA

#972 ORC-1059: Align findColumns behaviour between 1.6 and 1.7 release
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
  java/mapreduce/src/test/org/apache/orc/mapred/TestOrcFileEvolution.java
Labels: JAVA

#971 ORC-1060: Reduce memory usage when vectorized reading dictionary string encoding columns
  java/core/src/java/org/apache/orc/impl/TreeReaderFactory.java
Labels: JAVA

#981 ORC-1067: Upgrade ZSTD to 1.5.1
  cmake_modules/ThirdpartyToolchain.cmake
Labels: BUILD

#979 ORC-1065: Fix IndexOutOfBoundsException in ReaderImpl.extractFileTail
  java/core/src/java/org/apache/orc/impl/ReaderImpl.java
  java/core/src/test/org/apache/orc/impl/TestReaderImpl.java
Labels: JAVA

#982 ORC-1069: Update building.md
  site/_docs/building.md
Labels: DOCS

#980 ORC-1068: [C++] Stabilize HAS_POST_2038 test
  c++/src/CMakeLists.txt
Labels: CPP

#983 ORC-1070: Upgrade site docker image to use Ubuntu 20.04
  site/Dockerfile
Labels: DOCS

#872 ORC-875: Add GitHub Action job for Windows Server 2019
  .github/workflows/build_and_test.yml
Labels: INFRA, JAVA

#985 ORC-1071: Update adopters page
  site/_docs/adopters.md
Labels: DOCS
