Repository apache/orc, pull requests merged in 2021-06, with the labels that each got.

#723 MINOR: Add GitHub repo labels
  .asf.yaml
Labels: INFRA

#724 ORC-820: Add Java 16 to GitHub Action
  .github/workflows/build_and_test.yml
Labels: INFRA

#725 ORC-821: Use mvnw instead of mvn
  .github/workflows/publish_snapshot.yml
  .travis.yml
  README.md
  java/bench/README.md
  site/_docs/building.md
  site/develop/make-release.md
Labels: DOCS, INFRA, JAVA

#727 ORC-823: Upgrade maven-assembly-plugin to 3.3.0
  java/bench/pom.xml
  java/examples/pom.xml
  java/pom.xml
  java/tools/pom.xml
Labels: BUILD, JAVA

#728 ORC-716: Add Java 17 to GitHub action
  .github/workflows/build_and_test.yml
Labels: INFRA

#726 ORC-691: Remove unused Snapcraft-related code
  .github/labeler.yml
  README.md
  snap/.gitignore
  snap/README.md
  snap/Vagrantfile
  snap/snapcraft.yaml
  snap/vagrant-provision.sh
Labels: DOCS, INFRA

#708 ORC-806: Upgrade to Apache POM 23
  java/bench/core/pom.xml
  java/bench/hive/pom.xml
  java/bench/pom.xml
  java/bench/spark/pom.xml
  java/examples/pom.xml
  java/pom.xml
  java/tools/pom.xml
Labels: BUILD, JAVA
