Repository apache/orc, pull requests merged in 2022-11, with the labels that each got.

#1299 ORC-1304: [C++] Fix bug of seeking over empty PRESENT stream
  c++/src/ByteRLE.cc
  c++/src/RLEv1.cc
  c++/src/RLEv1.hh
  c++/test/TestByteRle.cc
  c++/test/TestReader.cc
  c++/test/TestRleDecoder.cc
Labels: CPP

#1307 ORC-1298:[C++] Support dedicated ColumnVectorBatch of numeric types
  c++/include/orc/MemoryPool.hh
  c++/include/orc/Reader.hh
  c++/include/orc/Type.hh
  c++/include/orc/Vector.hh
  c++/include/orc/Writer.hh
  c++/src/ColumnReader.cc
  c++/src/ColumnReader.hh
  c++/src/ColumnWriter.cc
  c++/src/MemoryPool.cc
  c++/src/Options.hh
  c++/src/RLE.cc
  c++/src/RLE.hh
  c++/src/RLEv1.cc
  c++/src/RLEv1.hh
  c++/src/RLEv2.hh
  c++/src/Reader.cc
  c++/src/Reader.hh
  c++/src/RleDecoderV2.cc
  c++/src/Timezone.cc
  c++/src/TypeImpl.cc
  c++/src/TypeImpl.hh
  c++/src/Vector.cc
  c++/src/Writer.cc
  c++/test/TestWriter.cc
Labels: INFRA, CPP

#1323 ORC-1315:[C++] Fix byte to integer conversions fail on platforms with unsigned char type
  c++/src/ByteRLE.cc
  c++/src/ColumnReader.cc
  c++/src/RLEv1.cc
  c++/test/TestByteRle.cc
Labels: CPP

#1317 ORC-1314: [C++] Remove macros defined before C++11
  c++/include/orc/orc-config.hh.in
  c++/src/Adaptor.cc
  c++/src/Adaptor.hh.in
  c++/src/CMakeLists.txt
  c++/src/ColumnPrinter.cc
  c++/src/Compression.cc
  c++/src/Reader.cc
  cmake_modules/CheckSourceCompiles.cmake
Labels: INFRA, BUILD, CPP

#1324 ORC-1315: [C++] Fix test failure when unsigned char is in effect
  c++/src/ColumnReader.cc
  c++/test/TestColumnReader.cc
Labels: CPP
