Repository apache/orc, pull requests merged in 2022-05, with the labels that each got.

#1099 ORC-1159: [C++] Fix crash when the last stripe is skipped
  c++/src/Reader.cc
  c++/src/Reader.hh
  c++/test/TestPredicatePushdown.cc
Labels: CPP

#1106 MINOR: Add Apache Impala to the ORC adopters page
  site/_docs/adopters.md
Labels: DOCS

#1109 MINOR: Update Yiqun Zhang from the committer to PMC in site
  site/develop/committers.md
Labels: DOCS

#1113 ORC-1169: Use Hadoop to 3.3.2 on Java 17+
  java/pom.xml
Labels: BUILD, JAVA

#1115 ORC-1171: Skip build and test on docker and site updates
  .github/workflows/build_and_test.yml
Labels: INFRA

#1121 ORC-1174: Add `Ubuntu 22.04` to GitHub Action
  .github/workflows/build_and_test.yml
  java/pom.xml
Labels: INFRA, BUILD, JAVA

#1127 MINOR: Update DOAP with new releases
  site/doap_orc.rdf
Labels: DOCS

#1128 ORC-1174: Add `Ubuntu 22.04` to GitHub Action
  .github/workflows/build_and_test.yml
  java/pom.xml
Labels: INFRA, BUILD, JAVA

#1129 ORC-1178: Use Hadoop 3.3.3 on Java 17+
  java/pom.xml
Labels: BUILD, JAVA

#1130 ORC-1179: Upgrade checkstyle to 10.2 on Java 11+
  java/pom.xml
Labels: BUILD, JAVA

#1134 MINOR: Add ASF verification instruction link
  site/_docs/releases.md
Labels: DOCS

#1118 ORC-1172: Add row count limit config in one stripe
  java/core/src/java/org/apache/orc/OrcConf.java
  java/core/src/java/org/apache/orc/OrcFile.java
  java/core/src/java/org/apache/orc/impl/WriterImpl.java
  java/core/src/test/org/apache/orc/impl/TestWriterImpl.java
Labels: JAVA

#1144 ORC-1192: Use `orc.zstd` instead of `orc.none`
  java/bench/hive/src/java/org/apache/orc/bench/hive/ColumnProjectionBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/DecimalBench.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/FullReadBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/RowFilterProjectionBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/BooleanRowFilterBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/DecimalRowFilterBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/DoubleRowFilterBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/StringRowFilterBenchmark.java
  java/bench/hive/src/java/org/apache/orc/bench/hive/rowfilter/TimestampRowFilterBenchmark.java
  java/bench/spark/src/java/org/apache/orc/bench/spark/SparkBenchmark.java
Labels: JAVA
