Repository apache/orc, pull requests merged in 2022-01, with the labels that each got.

#986 ORC-1072: Add 'Stale' GitHub Action job
  .github/workflows/stale.yml
Labels: INFRA

#987 ORC-1073: Remove appveyor.yml
  appveyor.yml
Labels: INFRA

#975 ORC-1055: [C++] Add the timezone option for the csv-import tool
  examples/TestCSVFileImport.testTimezoneOption.csv
  tools/src/CSVFileImport.cc
  tools/test/TestCSVFileImport.cc
Labels: CPP, EXAMPLES

#991 ORC-1076: Remove Travis PR Builder Link from README.md
  README.md
Labels: DOCS

#993 ORC-1077: Remove commons-codec dependency and use java.util.Base64
  java/mapreduce/pom.xml
  java/mapreduce/src/java/org/apache/orc/mapred/OrcInputFormat.java
  java/pom.xml
Labels: BUILD, JAVA

#995 ORC-1079: Add `Linux Clang 11` GitHub Action test coverage
  .github/workflows/build_and_test.yml
Labels: INFRA, BUILD

#997 ORC-1080: Remove `.travis.yml`
  .travis.yml
Labels: INFRA

#998 ORC-1081: Fix heap-use-after-free in SearchArgumentBuilderImpl::end()
  c++/src/sargs/SearchArgument.cc
Labels: CPP

#1003 ORC-1082: Improve `FileDump` and `JsonFileDump` to be robust on missing column statistics
  java/tools/src/java/org/apache/orc/tools/FileDump.java
  java/tools/src/java/org/apache/orc/tools/JsonFileDump.java
Labels: JAVA

#1009 ORC-1089: Add test cases verifying writers with selected vector
  java/core/src/test/org/apache/orc/TestSelectedVector.java
Labels: JAVA

#992 ORC-1075: Support reading ORC files with no column statistics
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
  java/core/src/test/org/apache/orc/impl/TestRecordReaderImpl.java
Labels: JAVA

#1011 ORC-1091: Add `Tests` section at ORC `develop` page
  site/develop/index.md
Labels: DOCS

#994 ORC-1004: Java ORC writer supports the selection vector
  java/core/src/java/org/apache/orc/impl/WriterImpl.java
  java/core/src/test/org/apache/orc/TestSelectedVector.java
Labels: JAVA

#1013 ORC-1093: Remove `debian8` specific code in `run-one.sh`
  docker/run-one.sh
Labels: INFRA

#1014 MINOR: Use multi-catch
  java/core/src/java/org/apache/orc/impl/HadoopShimsFactory.java
Labels: JAVA

#1015 ORC-1094: Enable GitHub issues tab
  .asf.yaml
Labels: INFRA

#1016 ORC-1095: Deprecate `UnknownFormatException`
  java/core/src/java/org/apache/orc/UnknownFormatException.java
  java/core/src/java/org/apache/orc/impl/ReaderImpl.java
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
Labels: JAVA

#996 ORC-1078: Row group end offset doesn't accommodate all the blocks
  java/core/src/java/org/apache/orc/impl/RecordReaderUtils.java
  java/core/src/java/org/apache/orc/impl/SerializationUtils.java
  java/core/src/test/org/apache/orc/impl/TestRecordReaderImpl.java
Labels: JAVA

#1017 ORC-1090: Disable Clang 13.0-specific compilation warnings
  CMakeLists.txt
Labels: BUILD

#1008 ORC-1087: [C++] Handle unloaded seek positions when seeking in an uncompressed chunk
  c++/src/Compression.cc
  c++/test/TestDecompression.cc
Labels: CPP

#990 ORC-450: Add option to avoid materialization of array elements
  c++/include/orc/Common.hh
  c++/include/orc/Reader.hh
  c++/src/Options.hh
  c++/src/Reader.cc
  c++/src/Reader.hh
  c++/test/TestReader.cc
  examples/TestOrcFile.nestedList.orc
Labels: CPP, EXAMPLES

#1020 ORC-1098: [C++] Support specifying type ids or column names in cpp tools
  c++/src/Reader.cc
  site/_docs/cpp-tools.md
  tools/src/CMakeLists.txt
  tools/src/FileContents.cc
  tools/src/FileMemory.cc
  tools/src/FileScan.cc
  tools/src/ToolsHelper.cc
  tools/src/ToolsHelper.hh
  tools/test/TestFileContents.cc
  tools/test/TestFileScan.cc
Labels: DOCS, CPP

#1023 ORC-1101: [C++] Improve malformed STRUCT handling
  c++/src/TypeImpl.cc
  c++/test/TestType.cc
Labels: CPP

#1026 ORC-1102: Upgrade ZSTD to 1.5.2
  cmake_modules/ThirdpartyToolchain.cmake
Labels: BUILD, CPP

#1029 ORC-1103: Use Maven 3.8.4
  README.md
  java/pom.xml
Labels: BUILD, JAVA, DOCS

#1028 MINOR: Update `README.md` to remove `Travis CI` links and add release tags and plan
  README.md
Labels: DOCS

#1030 ORC-1104: Use Spark 3.2.1 in benchmark
  java/bench/pom.xml
Labels: BUILD, JAVA

#1031 ORC-1105: fetch-data.sh should use zsh instead of bash
  java/bench/fetch-data.sh
Labels: JAVA

#1032 ORC-1106: Use transitive commons-lang3 dependency in bench module
  java/bench/pom.xml
Labels: BUILD, JAVA

#1033 ORC-1107: Fix NPE at benchmark data schema loading
  java/bench/core/src/java/org/apache/orc/bench/core/Utilities.java
Labels: JAVA

#1034 ORC-1108: Use `RawLocalFileSystem` to skip checksum files during benchmark data generation
  java/bench/core/src/java/org/apache/orc/bench/core/convert/GenerateVariants.java
Labels: JAVA

#1035 ORC-1109: Use zstd instead of none in the default compress option
  java/bench/core/src/java/org/apache/orc/bench/core/convert/GenerateVariants.java
  java/bench/core/src/java/org/apache/orc/bench/core/convert/ScanVariants.java
Labels: JAVA
