Repository apache/orc, pull requests merged in 2022-02, with the labels that each got.

#1037 MINOR: Update scala-library pinning version to `[2.12.16, )`
  .github/dependabot.yml
Labels: INFRA

#1039 ORC-1112: Add `Using with Python` web page
  site/_data/docs.yml
  site/_docs/pyarrow.md
  site/index.html
Labels: DOCS

#1040 ORC-1113: Remove CentOS 8 from docker-based tests
  docker/README.md
  docker/centos8/Dockerfile
  docker/os-list.txt
  site/_docs/building.md
Labels: INFRA, DOCS

#1042 ORC-1114: Update `Using with Python` page with `PyArrow` 7.0.0
  site/_docs/pyarrow.md
Labels: DOCS

#1043 ORC-1115: Suppress `Illegal reflective access` warnings on Java9+ Tests
  java/pom.xml
Labels: BUILD, JAVA

#1025 ORC-236: Support `UNION` type in Java Convert tool
  java/tools/src/java/org/apache/orc/tools/convert/ConvertTool.java
  java/tools/src/java/org/apache/orc/tools/convert/JsonReader.java
  java/tools/src/test/org/apache/orc/tools/convert/TestJsonReader.java
Labels: JAVA

#1045 ORC-1117: Add `Dask` page at `Using in Python` section
  site/_data/docs.yml
  site/_docs/dask.md
  site/index.html
Labels: DOCS

#1044 ORC-1116: [C++] Fix csv-import tool when exporting long bytes
  tools/src/CSVFileImport.cc
  tools/test/TestCSVFileImport.cc
Labels: CPP, EXAMPLES

#1047 ORC-1118: Support Java 17 and ARM64 docker tests
  docker/debian10/Dockerfile
  docker/debian11/Dockerfile
  docker/ubuntu18/Dockerfile
  docker/ubuntu20/Dockerfile
Labels: INFRA

#1024 ORC-1099: [C++] Extend ReadIntent to support MAP and UNION type
  .github/workflows/build_and_test.yml
  c++/include/orc/Common.hh
  c++/src/Reader.cc
  c++/test/TestReader.cc
  examples/TestOrcFile.nestedList.orc
Labels: INFRA, CPP, EXAMPLES

#1049 ORC-1119: Remove timestamp from ORC API docs
  java/pom.xml
Labels: BUILD, JAVA
