Repository apache/orc, pull requests merged in 2022-03, with the labels that each got.

#1057 ORC-1123: Add `estimationMemory` method for writer
  java/core/src/java/org/apache/orc/Writer.java
  java/core/src/java/org/apache/orc/impl/WriterImpl.java
Labels: JAVA

#1054 ORC-1120: Remove C++ library limitation about write version
  README.md
Labels: DOCS

#1059 Added Quanlong as a committer to site
  site/_posts/2022-03-05-add-quanlong.md
Labels: DOCS

#1058 MINOR: Add Quanlong Huang to committers page
  site/develop/committers.md
Labels: DOCS

#1055 ORC-1121: Fix column coversion check bug which causes column filters don't work
  java/core/src/java/org/apache/orc/impl/SchemaEvolution.java
  java/core/src/test/org/apache/orc/impl/TestSchemaEvolution.java
Labels: JAVA

#1056 ORC-1122: [C++] Add buffer to decode the whole run in RleDecoderV2
  c++/src/RLEv2.hh
  c++/src/RleDecoderV2.cc
  c++/src/RleEncoderV2.cc
Labels: CPP

#1065 ORC-1128: [C++] Replace protobuf::MessageLite::ByteSize() with ByteSi…
  c++/test/CreateTestFiles.cc
  c++/test/TestBufferedOutputStream.cc
Labels: CPP

#1066 ORC-1129: [C++] Make tool-test depends on cpp tools
  tools/src/CMakeLists.txt
  tools/test/CMakeLists.txt
Labels: CPP

#1062 ORC-1125: [C++] Support reading decimal64 in ORCv2
  c++/src/ColumnReader.cc
  c++/src/ColumnReader.hh
  c++/src/Reader.cc
  c++/src/Reader.hh
  c++/src/StripeStream.cc
  c++/src/StripeStream.hh
  c++/test/TestColumnReader.cc
  c++/test/TestRleDecoder.cc
  tools/test/TestFileContents.cc
Labels: CPP, EXAMPLES

#1067 ORC-1130:[C++] Suppress the present stream when the data stream has no null value
  c++/src/ByteRLE.cc
  c++/src/ByteRLE.hh
  c++/src/ColumnWriter.cc
  c++/src/ColumnWriter.hh
  c++/src/io/OutputStream.cc
  c++/src/io/OutputStream.hh
  c++/test/TestWriter.cc
Labels: CPP

#1069 ORC-1133: [C++] fix csv-import tool command line options not working
  tools/src/CSVFileImport.cc
Labels: CPP

#1071 ORC-1137: [C++] Unroll loops and copy data directly in DoubleColumnReader::next()
  c++/src/ColumnReader.cc
Labels: CPP
