Repository apache/orc, pull requests merged in 2022-04, with the labels that each got.

#1088 ORC-1151: [C++] Fix `ColumnWriter` for non-UTC Timestamp columns
  c++/src/ColumnWriter.cc
  c++/test/TestTimestampStatistics.cc
Labels: CPP

#1087 ORC-1150: [C++] Optimize RowReaderImpl::computeBatchSize() by pre-computation
  c++/src/Reader.cc
  c++/src/Reader.hh
  c++/src/sargs/SargsApplier.cc
  c++/src/sargs/SargsApplier.hh
  c++/test/TestReader.cc
  c++/test/TestSargsApplier.cc
  tools/test/TestFileScan.cc
Labels: CPP

#1089 ORC-1152:[C++] Support writing short decimals in RLEv2
  c++/src/ColumnWriter.cc
  c++/src/Writer.cc
  c++/test/TestWriter.cc
  examples/decimal64_v2_cplusplus.orc
  java/core/src/java/org/apache/orc/impl/TreeReaderFactory.java
  java/core/src/test/org/apache/orc/impl/TestReaderImpl.java
Labels: JAVA, CPP, EXAMPLES

#1097 ORC-1158: Add notification settings to .asf.yaml
  .asf.yaml
Labels: INFRA

#1100 ORC-1160: [C++] Fix seekToRow can't seek within selected row group
  c++/src/Reader.cc
  c++/test/TestPredicatePushdown.cc
Labels: CPP

#1102 ORC-1160: [C++] Fix seekToRow can't seek within selected row group
  c++/src/Reader.cc
  c++/test/TestPredicatePushdown.cc
Labels: CPP

#1104 ORC-1162: Fix Apache Project Website Checks Warning
  site/index.html
Labels: DOCS
