Repository apache/orc, pull requests merged in 2023-02, with the labels that each got.

#1394 ORC-1312: [C++] Support setting the block buffer capacity of BufferedOutputStream
  c++/include/orc/Writer.hh
  c++/src/ColumnWriter.cc
  c++/src/Writer.cc
  c++/test/TestWriter.cc
Labels: CPP

#1405 MINOR: Add Xin Zhang to committers page
  site/develop/committers.md
Labels: DOCS

#1406 MINOR: [News] Welcome new committer Xin Zhang
  site/_posts/2023-02-13-add-xin.md
Labels: DOCS

#1409 Update Pavan Lanka from committer to PMC in site
  site/develop/committers.md
Labels: DOCS

#1387 ORC-1362: [Java] Enable ENABLE_INDEXES
  examples/TestOrcFile.testSargSkipPickupGroupWithoutIndexCPlusPlus.orc
  examples/TestOrcFile.testSargSkipPickupGroupWithoutIndexJava.orc
  java/core/src/java/org/apache/orc/OrcFile.java
  java/core/src/java/org/apache/orc/impl/RecordReaderImpl.java
  java/core/src/java/org/apache/orc/impl/WriterImpl.java
  java/core/src/test/org/apache/orc/impl/TestReaderImpl.java
  java/core/src/test/org/apache/orc/impl/TestWriterImpl.java
Labels: JAVA, EXAMPLES

#1402 ORC-1361: InvalidProtocolBufferException when reading large stripe statistics
  java/core/src/java/org/apache/orc/impl/ReaderImpl.java
  java/core/src/test/org/apache/orc/TestOrcWithLargeStripeStatistics.java
Labels: JAVA
