Repository apache/orc, pull requests merged in 2023-04, with the labels that each got.

#1454 ORC-1385: [C++] Support schema evolution of numeric types
  c++/include/orc/Reader.hh
  c++/src/CMakeLists.txt
  c++/src/ColumnReader.cc
  c++/src/ColumnReader.hh
  c++/src/ConvertColumnReader.cc
  c++/src/ConvertColumnReader.hh
  c++/src/Options.hh
  c++/src/Reader.cc
  c++/src/Reader.hh
  c++/src/SchemaEvolution.cc
  c++/src/StripeStream.cc
  c++/src/StripeStream.hh
  c++/src/TypeImpl.cc
  c++/test/CMakeLists.txt
  c++/test/MockStripeStreams.cc
  c++/test/MockStripeStreams.hh
  c++/test/TestColumnReader.cc
  c++/test/TestConvertColumnReader.cc
  c++/test/TestSchemaEvolution.cc
Labels: CPP

#1468 ORC-1410: [C++] Bump zstd to v1.5.5
  cmake_modules/ThirdpartyToolchain.cmake
Labels: BUILD

#1471 ORC-1411 Remove Ubuntu 18.04 LTS from Docker Tests
  docker/README.md
  docker/os-list.txt
  docker/ubuntu18/Dockerfile
  site/_docs/building.md
Labels: INFRA, DOCS

#1455 ORC-1401: [C++] allow writing an intermediate footer
  c++/include/orc/OrcFile.hh
  c++/include/orc/Writer.hh
  c++/src/OrcFile.cc
  c++/src/Writer.cc
  c++/test/MemoryOutputStream.hh
  c++/test/TestWriter.cc
Labels: CPP
