Repository apache/orc, pull requests merged in 2023-06, with the labels that each got.

#1542 ORC-1447: [C++] Fix a bug in CpuInfoUtil.cc to support ARM platform
  CMakeLists.txt
  c++/src/CpuInfoUtil.cc
  c++/src/CpuInfoUtil.hh
Labels: BUILD, CPP

#1548 ORC-1453: Fix `implicit-fallthrough` warnings
  c++/src/ColumnReader.cc
  c++/src/ColumnWriter.cc
  c++/src/TypeImpl.cc
Labels: CPP

#1549 ORC-1453: Fix `implicit-fallthrough` warnings
  c++/src/ColumnReader.cc
  c++/src/ColumnWriter.cc
  c++/src/TypeImpl.cc
Labels: CPP

#1550 ORC-1454: Update Spark to 3.4.1
  java/bench/pom.xml
Labels: BUILD, JAVA

#1551 ORC-1455: [C++] Fix build with unused macro in CpuInfoUtil.cc
  c++/src/CpuInfoUtil.cc
Labels: CPP

#1552 ORC-1455: [C++] Fix build with unused macro in CpuInfoUtil.cc
  c++/src/CpuInfoUtil.cc
Labels: CPP
