Repository apache/orc, pull requests merged in 2023-03, with the labels that each got.

#1421 ORC-1378: [Java] Optimize logging dependency definition
  java/bench/pom.xml
  java/core/pom.xml
  java/examples/pom.xml
  java/pom.xml
  java/tools/pom.xml
Labels: BUILD, JAVA

#1427 ORC-1376: [C++] Scaffolding of schema evolution
  c++/include/orc/Exceptions.hh
  c++/include/orc/Type.hh
  c++/src/CMakeLists.txt
  c++/src/Exceptions.cc
  c++/src/Reader.hh
  c++/src/SchemaEvolution.cc
  c++/src/SchemaEvolution.hh
  c++/src/TypeImpl.cc
  c++/src/TypeImpl.hh
  c++/src/sargs/SargsApplier.cc
  c++/src/sargs/SargsApplier.hh
  c++/test/TestSargsApplier.cc
Labels: CPP

#1441 ORC-1376: [C++] Add Apache 2.0 License to the new file
  c++/src/SchemaEvolution.cc
  c++/src/SchemaEvolution.hh
Labels: CPP

#1443 ORC-1395: Enforce license check via github action
  .github/.licenserc.yaml
  .github/workflows/build_and_test.yml
  CMakeLists.txt
  c++/CMakeLists.txt
  c++/include/CMakeLists.txt
  c++/include/orc/orc-config.hh.in
  c++/src/CMakeLists.txt
  c++/src/LzoDecompressor.cc
  c++/src/RLEV2Util.cc
  c++/src/RleEncoderV2.cc
  c++/src/wrap/coded-stream-wrapper.h
  c++/src/wrap/gmock.h
  c++/src/wrap/gtest-wrapper.h
  c++/src/wrap/orc-proto-wrapper.cc
  c++/src/wrap/orc-proto-wrapper.hh
  c++/src/wrap/snappy-wrapper.h
  c++/src/wrap/zero-copy-stream-wrapper.h
  c++/test/CMakeLists.txt
  cmake_modules/CheckSourceCompiles.cmake
  cmake_modules/FindCyrusSASL.cmake
  cmake_modules/FindGTest.cmake
  cmake_modules/FindLZ4.cmake
  cmake_modules/FindProtobuf.cmake
  cmake_modules/FindSnappy.cmake
  cmake_modules/FindZLIB.cmake
  cmake_modules/FindZSTD.cmake
  cmake_modules/ThirdpartyToolchain.cmake
  java/CMakeLists.txt
  tools/CMakeLists.txt
  tools/src/CMakeLists.txt
  tools/test/CMakeLists.txt
Labels: INFRA, BUILD, JAVA, CPP

#1444 ORC-1395: Enforce license check via github action
  .github/.licenserc.yaml
  .github/workflows/build_and_test.yml
  CMakeLists.txt
  c++/CMakeLists.txt
  c++/include/CMakeLists.txt
  c++/include/orc/orc-config.hh.in
  c++/src/CMakeLists.txt
  c++/src/LzoDecompressor.cc
  c++/src/RLEV2Util.cc
  c++/src/RleEncoderV2.cc
  c++/src/wrap/coded-stream-wrapper.h
  c++/src/wrap/gmock.h
  c++/src/wrap/gtest-wrapper.h
  c++/src/wrap/orc-proto-wrapper.cc
  c++/src/wrap/orc-proto-wrapper.hh
  c++/src/wrap/snappy-wrapper.h
  c++/src/wrap/zero-copy-stream-wrapper.h
  c++/test/CMakeLists.txt
  cmake_modules/CheckSourceCompiles.cmake
  cmake_modules/FindCyrusSASL.cmake
  cmake_modules/FindGTest.cmake
  cmake_modules/FindLZ4.cmake
  cmake_modules/FindProtobuf.cmake
  cmake_modules/FindSnappy.cmake
  cmake_modules/FindZLIB.cmake
  cmake_modules/FindZSTD.cmake
  cmake_modules/ThirdpartyToolchain.cmake
  java/CMakeLists.txt
  tools/CMakeLists.txt
  tools/src/CMakeLists.txt
  tools/test/CMakeLists.txt
Labels: INFRA, BUILD, JAVA, CPP

#1449 ORC-1399 [C++] Return LongVectorBatch when createRowBatch for boolean type with useTightNumericVector option
  c++/src/ColumnReader.cc
  c++/src/ColumnWriter.cc
  c++/src/TypeImpl.cc
  c++/test/TestWriter.cc
Labels: CPP
