Repository apache/orc, pull requests merged in 2023-01, with the labels that each got.

#1358 ORC-1348: [C++] TimezoneImpl constructor should pass vector ref
  c++/src/Timezone.cc
Labels: CPP

#1361 ORC-1350: Upgrade `setup-java` to v3
  .github/workflows/build_and_test.yml
  .github/workflows/publish_snapshot.yml
Labels: INFRA

#1377 ORC-1358: Use `spotless` to format `pom` files
  java/bench/core/pom.xml
  java/bench/hive/pom.xml
  java/bench/pom.xml
  java/bench/spark/pom.xml
  java/core/pom.xml
  java/examples/pom.xml
  java/mapreduce/pom.xml
  java/pom.xml
  java/shims/pom.xml
  java/tools/pom.xml
Labels: BUILD, JAVA

#1383 ORC-1360: Pin `mockito` to 4.x
  .github/dependabot.yml
Labels: INFRA

#1385 ORC-1357: Handle missing compression block size
  examples/TestOrcFile.testWithoutCompressionBlockSize.orc
  java/core/src/java/org/apache/orc/impl/OrcTail.java
  java/core/src/java/org/apache/orc/impl/ReaderImpl.java
  java/core/src/test/org/apache/orc/TestVectorOrcFile.java
  java/core/src/test/org/apache/orc/impl/TestReaderImpl.java
Labels: JAVA, EXAMPLES
