Repository apache/orc, pull requests merged in 2023-05, with the labels that each got.

#1375 ORC-1356: [C++] Use Intel AVX-512 instructions to accelerate the Rle-bit-packing decode
  .github/workflows/build_and_test.yml
  CMakeLists.txt
  README.md
  c++/src/BitUnpackerAvx512.hh
  c++/src/Bpacking.hh
  c++/src/BpackingAvx512.cc
  c++/src/BpackingAvx512.hh
  c++/src/BpackingDefault.cc
  c++/src/BpackingDefault.hh
  c++/src/CMakeLists.txt
  c++/src/CpuInfoUtil.cc
  c++/src/CpuInfoUtil.hh
  c++/src/Dispatch.hh
  c++/src/RLEv2.hh
  c++/src/RleDecoderV2.cc
  c++/test/CMakeLists.txt
  c++/test/TestRleVectorDecoder.cc
  cmake_modules/ConfigSimdLevel.cmake
Labels: INFRA, BUILD, DOCS, CPP

#1482 ORC-1413 fix for ORC row level filter issue with ACID table
  java/core/src/java/org/apache/orc/impl/ParserUtils.java
  java/core/src/test/org/apache/orc/TestOrcFilterContext.java
Labels: JAVA

#1515 ORC-1433: [C++] Fix comment in the Vector.hh
  c++/include/orc/Vector.hh
Labels: CPP

#1519 ORC-1304: [C++] Fix seeking over empty PRESENT stream
  c++/src/ByteRLE.cc
  c++/src/RLEv1.cc
  c++/src/RLEv1.hh
  c++/test/TestByteRle.cc
  c++/test/TestReader.cc
  c++/test/TestRleDecoder.cc
Labels: CPP

#1520 ORC-1304: [C++] Fix seeking over empty PRESENT stream
  c++/src/ByteRLE.cc
  c++/src/RLEv1.cc
  c++/src/RLEv1.hh
  c++/test/TestByteRle.cc
  c++/test/TestReader.cc
  c++/test/TestRleDecoder.cc
Labels: CPP
